<p>This application was written to satisfy three goals:</p>
<h4>Provide an API status endpoint</h4>
<p>An HTTP GET request to the <code>/ping</code> endpoint will return the text "PONG", 
but more importantly an HTTP 200 OK status code.</p>

<h4>Transform publicly available data into something fun</h4>
<p>
    For this aspect, I've decided to incorporate the universally
    loved <a href="https://xkcd.com/">XKCD</a> comics into this
    simple image hosting service. XKCD data is available in JSON
    form, <a href="https://xkcd.com/json.html">via a simple API</a>.
</p>
<p>
    The goal was to include comics from XKCD that were somehow
    relevant to the images being posted to the service. In order
    to do this, we need two things:
    <ol>
        <li>A method of extracting information about the posted images</li>
        <li>A service for selecting comics relevant to the extracted information</li>
    </ol>
</p>
<p>
    The AWS service <a href="https://aws.amazon.com/rekognition/">Rekognition</a>
    meets the first requirement quite nicely. Among other services, it provides
    a method of object and scene detection, represented as a set of text labels.
</p>
<p>
    In order to find comics which are relevant to the labels provided by
    Rekognition, we need to index the information provided by the XKCD
    JSON resources, as XKCD does not provide it's own search API. For this,
    I added a new index to an existing Elasticsearch instance I've had running
    on EC2 (it's cheaper than AWS's Elasticsearch hosted offering, for my needs).
    Populating the index was a simple matter of writing a short script to
    retrieve the JSON representation for each comic, and POST it as is to
    Elasticsearch. From there, we can run a simple match query against the
    "transcript" portion of the JSON representation, OR-ing the terms together.
</p>
<h4>Upload a PNG image to S3</h4>
<p>
    There are several approaches to uploading images programatically. Some
    common ones include:
    <ul>
        <li>THe original <code>multipart/form-data</code> method.</li>
        <li>Encoding the image data as text (usually base 64). This generally works
            well with JSON APIs.
        </li>
    </ul>
    Because <code>multipart/form-data</code> isn't interesting, and I didn't
    want to deal with base-64 encoding in Javascript, I decided to provide
    an endpoint which simply accepts raw bytes. Other post metadata, like
    the image title, is provided in the URL.
</p>
<p>
    Although sending raw bytes is simple for a machine, it's slightly less
    user friendly than other approaches. On posix machines at least, it is
    quite acheivable whith the curl command, but the syntax is a bit
    cumbersome. To help with this, I've included a simple form which takes
    the path to an image (relative to the user's home directory), and
    the desired image title, and generates a full curl command which will
    upload the image.
</p>
<p>
    Once uploaded, the image data is hashed with MD5 to create a filename.
    This prevents us storing multiple copies of the same image, at some
    risk of hash collisions overwriting existing images with different data.
    Additionally, we create a small thumbnail, for use on the index page.
    Finally, all the retrieved information is rendered to an HTML file. The
    images, as well as the HTML file, are all stored in an S3 bucket.
</p>
<p>
    As a small bonus, and becuase image hosting services are boring
    without some method for discovery, I've added a simple index page.
    Since the image information is not stored in any "real" database,
    the index is generated by listing the contents of the S3 bucket,
    and generating an entry for each HTML file found. The name for
    each entry is simply the HTML file name (stripped of the .html
    extension). It's not a very scalable solution, but does offer
    some possiblity of "search" via filename filtering.
</p>
<p>
    Responses to the upload API endpoint look like this:
    <code><pre>
            {
                "ContentType": "image/png",
                "ContentLength": 51865,
                "key": "images/0dba8a3cca8503efc8febcf9c34bc6ab.png",
                "url": "https://s3.amazonaws.com/cml-images/images/0dba8a3cca8503efc8febcf9c34bc6ab.png",
                "thumbnail": {
                    "ContentType": "image/png",
                    "ContentLength": 101402,
                    "key": "images/Sara_thumbnail.png",
                    "url": "https://s3.amazonaws.com/cml-images/images/Sara_thumbnail.png"
                },
                "label_info": {
                    "Labels": [
                        {
                            "Name": "Couch",
                            "Confidence": 99.32723999023438
                        },
                        {
                            "Name": "Furniture",
                            "Confidence": 99.32723999023438
                        },
                        {
                            "Name": "People",
                            "Confidence": 99.2000732421875
                        },
                        {
                            "Name": "Person",
                            "Confidence": 99.2000732421875
                        },
                        {
                            "Name": "Human",
                            "Confidence": 99.1869125366211
                        }
                    ],
                    "OrientationCorrection": "ROTATE_0",
                    "ResponseMetadata": {
                        "RequestId": "4dc5499d-b5e6-11e7-a6ff-c721887dfe3b",
                        "HTTPStatusCode": 200,
                        "HTTPHeaders": {
                            "content-type": "application/x-amz-json-1.1",
                            "date": "Fri, 20 Oct 2017 22:30:41 GMT",
                            "x-amzn-requestid": "4dc5499d-b5e6-11e7-a6ff-c721887dfe3b",
                            "content-length": "290",
                            "connection": "keep-alive"
                        },
                        "RetryAttempts": 0
                    }
                }
            }
        </pre></code>
</p>
<h4>Potential Improvements / Features</h4>
<ul>
    <li>Store image metadata in a proper database</li>
    <li>Index the image labels retrieved by Rekognition, to allow searching by label.</li>
    <li>Use the image labels to provide an "images similar to this one" feature.</li>
    <li>Implement other Rekognition features - moderation and facial analysis
        data could all be leveraged in some interesting ways.
    </li>
</ul>
<h4>Repository</h4>
<p>To see the code itself, please visit (and star!) <a href="https://github.com/chrislawlor/grail">the github repository</a>.</p>