<html>
<head>
	<title>{{ name }} | Grail Publishing</title>
	{# bootstrap #}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
	 crossorigin="anonymous">
	 <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Work+Sans" rel="stylesheet">	 
	 
	 {# hacky way to have CSS in a separate file, but not have to deal with deploying static assets #}
	 <style type='text/css'>
		{% include "css/albums.css" %}
	 </style>
	{% block extra_head %}{% endblock %}
</head>

<body>
	<header>
		<div class="collapse bg-dark" id="navbarHeader">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 py-4">
						<h4 class="text-white">About the app</h4>
						<p class="text-muted">
							Grail Publishing is a simple image publishing service, built on AWS Lambda + S3. Images are posted via
							the command line. Your image is ran through the AWS Rekognition service, which identifies
							interesting objects in the image itself. Next, we search an Elasticsearch index of XKCD posts, for the
							labels that Rekognition found. Finally, we create an HTML page to contain your image,
						  as well as the XKCD post most relevant to your image.</p>
					</div>
					<div class="col-sm-4 py-4">
						<h4 class="text-white">Contact</h4>
						<ul class="list-unstyled">
							<li>
								<a href="https://www.linkedin.com/in/chrislawlor/" class="text-white">Visit my LinkedIn profile</a>
							</li>
							<li>
								<a href="https://github.com/chrislawlor" class="text-white">Other projects on Github</a>
							</li>
							<li>
								<a href="mailto:lawlor.chris@gmail.com" class="text-white">Email me</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="navbar navbar-dark bg-dark">
			<div class="container d-flex justify-content-between">
				<a href="#" class="navbar-brand">Grail Publishing</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
				 aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</header>

	<main role="main">
	{% block content %}{% endblock %}
	</main>

	<footer class="text-muted">
			<div class="container">
				<p class="float-right">
					<a href="#">Back to top</a>
				</p>
				<p>&copy; Chris Lawlor</p>
			</div>
		</footer>
	
	{# bootstrap JS dependencies #}
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
	 crossorigin="anonymous"></script>

	{% block extra_js %}{% endblock %}
</body>

</html>